<div class="page-header">
  <h1>Listado de pacientes</h1>
</div>
<div class="container-fluid">
    <table class="table table-striped" class="col-md-8">
        <thead>
            <tr>
                <th>Nombre</th>        
                <th>Documento</th>
                <th>Edad</th>
                <th>Sexo</th>
                <th>TipoSangre</th>
                <th>Eps</th>
                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in patients">
                <td>{{x.name}}</td>
                <td>{{x.id}}</td>
                <td>{{x.edad}}</td>
                <td>{{x.sexo}}</td>
                <td>{{x.tipoSangre}}</td>
                <td>{{x.eps}}</td>
                <td>
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Eliminar</button>
                    <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="cityEdit({cityId: record.id})"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>