<h1>Especialidades</h1>
      <form novalidate name="form" id="especialidad-form" role="form" ng-submit="form.$valid && ctrl.saveRecord(currentRecord.id)">
      <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
        <table width ="100%">
          <tr>
            <th align="left">
              Nombre:
            </th>
            <th align="left">
              <input id="nombre" name="nombre" class="form-control" type="text" ng-model="nombre" ng-init="currentRecord.nombre" required />
            </th>
          </tr>
          <tr>
            <th align="left">
              Grupos edad:
            </th>
            <th align="left">
              <input id="grupo" name="grupo" class="form-control" type="text" ng-model="grupo" ng-init="currentRecord.grupo" required />
            </th>
          </tr>
          <tr>
            <th align="left">
              Tipo:
            </th>
            <th align="left">
              <input id="tipo" name="tipo" class="form-control" type="text" ng-model="tipo" ng-init="currentRecord.tipo" required />
            </th>
          </tr>
        </table>
        <br>
        <button type="submit" >Save</button> 
         <button type="button" ui-sref='especialidadList'>Cancel</button> 
      </form>