<div class="row">
<div class="page-header">
  <h1>Especialidades</h1>
</div>
    <div class="col-xs-6">
        <div class="input-group">
            <span class="input-group-addon">Buscar</span>
            <input class="form-control" type="text" ng-model="searchField">
        </div>
    </div>
<div class="container-fluid" >
    <table class="table table-striped" class="col-md-8" width="80%">
        <thead>
            <tr>
                <th> Id </th>
                <th> Nombre </th>
                <th> Grupo edad</th>
                <th> Tipo</th>
                <th>  </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in records | filter:searchField">
                <td id="{{$index}}-id">{{record.id}}</td>
                <td id="{{$index}}-name">{{record.nombre}}</td>
                <td id="{{$index}}-grupo">{{record.gruposEdad}}</td>
                <td id="{{$index}}-tipo">{{record.tipo}}</td>
                <td><button class="btn btn-default btn-sm" ui-sref="especialidadEdit({especialidadId: record.id })"><span class="glyphicon glyphicon-edit"></span> Ver detalles </button></td>
            </tr>    
        </tbody>
    </table>
    <button class="btn btn-default btn-sm"  ui-sref='especialidadCreate'> Crear</button>
    </div>
</div>