<table >
      <tr>
        <th width="80%" align="left">
          <h1>{{currentRecord.nombre}}</h1>
        </th>
        <th>
          <button class="btn btn-default btn-sm" ui-sref="especialidadEdit({especialidadId: currentRecord.id})"><span class="glyphicon glyphicon-edit"></span>editar</button> 
        </th>
         <th>
          <button class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(currentRecord.id)"><span class="glyphicon glyphicon-minus"></span>borrar</button>
        </th>
      </tr>
</table>

   <br>
        <table width ="40%">
          <tr>
            <th align="left">
              Grupos edad:
            </th>
            <th align="left">{{currentRecord.gruposEdad}}

            </th>
          </tr>
          <tr>
            <th align="left">
              Tipo:
            </th>
            <th align="left">{{currentRecord.tipo}}
            </th>
          </tr>
        </table>
   <br>
   <h3>Lista de doctores por especialidad</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>        
                <th>Cedula</th>
                <th>Consultorio</th>
            </tr>
        </thead>
        <tbody>
             <tr ng-repeat="doc in currentRecord.doctores" >
                <td>{{doc.name}}</td>
                <td>{{doc.id}}</td>
                <td>{{doc.consultorio}}</td>
            </tr>
        </tbody>
    </table>
<button class="btn btn-default btn-sm"  ui-sref='especialidadList'>Regresar</button> 
       