<div>
    <form role="form" ng-submit="form.$valid && ctrl.guardarConsultorio()">

        <div ng-messages="form.$error">
            <h2>Por favor ingrese los nuevos datos del consultorio.</h2>
        </div>

        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="idBusqueda" ng-init="consultorioActual.id"/>
            <div ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}">
                <label>ID</label>
                <div>
                    <input type="text" ng-model="consultorioActual.id" ng-init="consultorioActual.id" required />
                </div>
                <label>Horario</label>
                <div>
                    <input type="text" ng-model="consultorioActual.horario" ng-init="consultorioActual.horario" required />
                </div>
                <label>Atencion a urgencias</label> 
                <div>
                    <input type="checkbox" ng-model="consultorioActual.atencionUrgencias" ng-init="consultorioActual.atencionUrgencias=false"/>
                </div>
                <label>UCI</label>
                <div>
                    <input type="checkbox" ng-model="consultorioActual.unidadCuidadosIntensivos" ng-init="consultorioActual.unidadCuidadosIntensivos=false"/>
                </div>
            </div>
            <button type="button"  ui-sref='getConsultorios'>Cancelar</button>
            <button type="button" ng-click="ctrl.actualizarConsultorio()">Actualizar</button>
        </fieldset>
    </form>
</div>