<div>
    <form role="form" novalidate name="form" ng-submit="form.$valid && ctrl.guardarConsultorio()">
        <h2>Por favor, ingrese los datos del nuevo consultorio.</h2>
        <div ng-messages="form.$error">
            <div ng-message="required">Por favor, complete todos los campos.</div>
        </div>

        <fieldset>
            <div ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}">
                <label>ID</label>
                <div>
                    <input type="text" ng-model="consultorioActual.id" ng-init="consultorioActual.id" required />
                </div>
            </div>
            <div ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}">
                <label>Horario</label>
                <div>
                    <input type="text" ng-model="consultorioActual.horario" ng-init="consultorioActual.horario" required />
                </div>
            </div>
            <label>Atencion a urgencias</label> 
            <div>
                <input type="checkbox" ng-model="consultorioActual.atencionUrgencias" ng-init="consultorioActual.atencionUrgencias = false"/>
            </div>
            <label>UCI</label>
            <div>
                <input type="checkbox" ng-model="consultorioActual.unidadCuidadosIntensivos" ng-init="consultorioActual.unidadCuidadosIntensivos = false"/>
            </div>
            <button type="button"  ui-sref='getConsultorios'>Cancelar</button>
            <button type="submit" >Crear</button>
        </fieldset>
    </form>
</div>