<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
<a href="../../../../../../../../../../../NetBeansProjects/book_201620-master/src/main/webapp/index.html"></a>
-->
<div class="page-header">
  <h1>Listado de citas</h1>
</div>
<div class="col-xs-6">
    <div class="input-group">
        <span class="input-group-addon">Buscar</span>
        <input class="form-control" type="text" ng-model="searchField">
    </div>
</div>
<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>        
                <th>Fecha</th>
                <th>Hora</th>
                <th>Duración</th>
                <th>Medico</th>
                <th>Paciente</th>
                <th>Habilitada</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in citas| filter:searchField">
                <td id ="{{$index}}-id">{{x.id}}</td>
                <td id ="{{$index}}-fecha">{{x.fecha}}</td>
                <td id ="{{$index}}-hora">{{x.hora}}</td>
                <td id ="{{$index}}-duracion">{{x.duracion}}</td>
                <td id ="{{$index}}-medico">{{x.medico}}</td>
                <td id ="{{$index}}-paciente">{{x.paciente}}</td>
                <td>id ="{{$index}}-paciente">{{x.habilitada}}</td>
                <td>
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(x)"><span class="glyphicon glyphicon-minus"></span> Eliminar</button>
                    <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="editCita({citaId: x.id})"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
