<div class="page-header">
  <h1>Listado de médicos</h1>
</div>
<div class="container-fluid">
    <table class="table table-striped" class="col-md-8">
        <thead>
            <tr>
                <th>Nombre</th>        
                <th>Cedula</th>
                <th>Especialidad</th>
                <th>Consultorio</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in doctors">
                <td>{{x.name}}</td>
                <td>{{x.id}}</td>
                <td>{{x.especialidad}}</td>
                <td>{{x.consultorio}}</td>
                <td>
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>