<div class="row">
    <div class="page-header">
        <h1>Horario</h1>
    </div>

    <div class="col-xs-12">
        Seleccione su nombre: <select ng-model="selectedDoctor" ng-options="x.name for x in doctors">
        </select>
        <h1>  </h1>
        <h1>  </h1>
        Seleccione una fecha: <md-datepicker layout-align="center center" ng-model="scheduleDay" md-placeholder="Enter date"></md-datepicker>
        <div class="col-xs-3">
            <div class="input-group">
                <span class="input-group-addon">Advanced options</span>
                <span class="input-group-addon">
                <input type="checkbox" ng-model="showDetail">
            </span>
            </div>
            <form ng-show="showDetail" ng-submit="refresh()">
                <div class="input-group">
                    <span class="input-group-addon">Limit</span>
                    <input class="form-control" type="number" ng-model="quantity">
                </div>
            </form>
        </div>
        <div class="container-fluid">
            <table class="table table-striped" class="col-md-8">
                <thead>
                <tr>
                    <th>ID Paciente</th>
                    <th>Hora</th>
                    <th>Duración</th>
                    <th>Consultorio</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="c in citas| filter:searchField" >
                    <td>{{c.paciente}}</td>
                    <td>{{c.hora}}</td>
                    <td>{{c.duracion}}</td>
                    <td>{{c.consultorio}}</td>
                    <td>
                        <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="editDoctor({docID: doc.id})"><span class="glyphicon glyphicon-edit"></span> Cancelar</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="page-header">
        <h2>Modificar disponibilidad</h2>
    </div>
    <div flex-gt-xs>
        <h4>Inicio</h4>
        <md-datepicker ng-model="fromDate" md-placeholder="Enter date"></md-datepicker>
    </div>
    <div flex-gt-xs>
        <h4>Fin</h4>
        <md-datepicker ng-model="toDate" md-placeholder="Enter date"></md-datepicker>
    </div>
    <div class="col-md-6">
        <h1>  </h1>
    </div>
</div>
<div class="row">

    <button type="submit" class="btn btn-success" ng-click="ctrl.updateSchedule()"> Guardar</button>
</div>
