<div class="row">
<div class="page-header">
  <h1>Listado de médicos</h1>
</div>
    <div class="col-xs-6">
    <div class="input-group">
                <span class="input-group-addon">Buscar</span>
                <input class="form-control" type="text" ng-model="searchField">
    </div>
        </div>
<div class="container-fluid">
    <table class="table table-striped" class="col-md-8">
        <thead>
            <tr>
                <th>Nombre</th>        
                <th>Cedula</th>
                <th>Especialidad</th>
                <th>Consultorio</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="doc in doctors | filter:searchField" >
                <td>{{doc.name}}</td>
                <td>{{doc.id}}</td>
                <td>{{doc.especialidad}}</td>
                <td>{{doc.consultorio}}</td>
                <td>
                    <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="editDoctor({docID: doc.id})"><span class="glyphicon glyphicon-edit"></span> Editar</button>
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(doc.id)"><span class="glyphicon glyphicon-minus"></span> Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
        
</div>