<div class="container-fluid">

    <div>
        <div class="col-xs-6">
            <div class="input-group">
                <span class="input-group-addon">Buscar</span>
                <input class="form-control" type="text" ng-model="searchField">
            </div>
        </div>
        <div class="container-fluid">
            <table id="tablaConsultorios" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th> </th>
                        <th> Nombre </th>
                        <th> Horario </th>
                        <th> Atiencion a urgencias </th>
                        <th> UCI </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="consultorio in consultorios| filter:searchField">
                        <td>{{consultorio.id}}</td>
                        <td>{{consultorio.nombre}}</td>
                        <td>{{consultorio.horario}}</td>
                        <td>{{consultorio.atencionUrgencias}}</td>
                        <td>{{consultorio.unidadCuidadosIntensivos}}</td>
                        <td>
                            <button class="btn btn-default btn-sm" ui-sref="buscarConsultorio({consultorioId: consultorio.id})"><span class="glyphicon glyphicon-edit"></span> Ver detalles </button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button type="button" ui-sref='crearConsultorio'> Crear consultorio</button>
    </div>
</div>
