<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h2>Estado del hospital</h2>
 <table class="table table-striped" class="col-md-8">
        <thead>
            <tr align="left"><button class="btn btn-default btn-sm" ng-click="ctrl.generarTodas()" >Generar estado actual</button> 
            </tr>
            <tr>
                <th>Especialidad</th>        
                <th>Doctores</th>
                <th>Citas totales</th>
                <th>Promedio duracion en cita</th>
                <th>Citas libres</th>
                <th>Citas canceladas</th>
                <th>Citas terminadas</th>
                <th>Fecha consulta</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in records" >
                <td>{{record.especialidad.nombre}}</td>
                <td>{{record.numeroDoctores}}</td>
                <td>{{record.numeroCitas}}</td>
                <td>{{record.promedioDuracion}}</td>
                <td>{{record.citasLibres}}</td>
                <td>{{record.citasCanceladas}}</td>
                <td>{{record.citasTerminadas}}</td>
                <td>{{record.fecha}}</td>
            </tr>
        </tbody>
    </table>